@import "bootstrap";

/* universal */

html {
	overflow-y: scroll;
}
body {
	padding-top: 60px;
}
.table {
	td {
		vertical-align: middle;
	}
}
form.form-add-webpage {
	/*background-color: #aaa; */
}

form.navbar-form {
	button {
		margin-left: 2px;
	}
}
