@import "bootstrap";

/* universal */

html {
	overflow-y: scroll;
}
body {
	padding-top: 50px;
}
.table {
	td {
		vertical-align: middle;
	}
}
form.form-add-webpage {
	/*background-color: #aaa; */
}

form.navbar-form {
	.btn {
		margin-left: 2px;
	}
	.btn #keyword_name {
		width: 400px;
	}
}

.table > tbody > tr > td {
	vertical-align: middle;
}

ul.pagination {
	margin: 0 0 10px 0;
}
